Options -MultiViews
RewriteEngine On
RewriteBase /ens20mlr/Portfolio
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /ens20mlr/Portfolio/index.html [QSA,L]  
